<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" 
%>

<h3>Nearby Location</h3>

<ul>
  <% for location in @location.nearbys(10) %>
    <li> <%= link_to location.address, location %> (<%= location.distance.round(2) %> miles )</li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

<!-- "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers" -->